body {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: block;
    max-width: 100%;
}

.navi {
    display: grid;
    grid-template-columns: 1.6fr 0.9fr 0.9fr 1fr 0.8fr;
    font-size: 9px;
    background-color: rgb(190, 173, 153);
    color: white;
}

.fon > img {
    max-width: 100%;
    margin-bottom: 1vw;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: auto;
    gap: 1vw;
    justify-content: center;
}

.main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2vh 2vw;
    text-align: justify;
    margin: 2vw 0;
}

.card-img-overlay {
    margin: -2vw -2vh;
}

.card-body {
    margin: -2vw -1vh;
}

.stars {
    font-size: 10px;
}

.btn {
    margin-top: -5vw;
}

.footer {
    text-align: justify;
}

@media (min-width: 490px) {
        
    .navi {
    font-size: 12px;
    }

    .card-img-overlay {
        margin: auto;
    }
    .card-body {
        margin: auto;
    }

    .stars {
        font-size: 13px;
    }

    .btn {
        margin-top: auto;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        gap: 2vh 2vw;
        text-align: justify;
        margin: 2vw 0;
    }
    .info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: justify;
    }
    .footer {
        text-align: justify;
    }
}

@media (min-width: 1400px) {
    .fon>img {
        margin-left: 3vw;
        margin-right: 5vw;

    } 
}
